<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer class="text-center text-white" style="background-color: rgb(25,26,42)">
    <div class="container pt-4">
      <section class="mb-4">

        <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-white m-1"
            target="_blank"
            href="https://github.com/als904204/WebDuck"
            role="button"
            data-mdb-ripple-color="light">
          <i class="fab fa-github"></i>
        </a>

        <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="mailto:min.uuu1117@gmail.com"
            role="button"
            data-mdb-ripple-color="light"
        ><i class="fa-solid fa-envelope"></i>
        </a>

        <a
            data-mdb-ripple-init
            target="_blank"
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="https://portfolio-oqvk.onrender.com"
            role="button"
            data-mdb-ripple-color="light"
        ><i class="fa-solid fa-user"></i>
        </a>

      </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3">
      © 2023 Copyright: KAKAO WEBTOON & NAVER WEBTOON
    </div>
  </footer>
</th:block>
</html>
