<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <section class="text-white container mb-4">
    <h1>어드민 페이지</h1>
    <div>
      <a th:href="@{/admin/webtoon/upload}">웹툰 업로드</a>
    </div>
    <div>
      <a th:href="@{/admin/webtoon/delete}">웹툰 삭제</a>
    </div>
    <div>
      <a th:href="@{/admin/webtoon/update}">웹툰 수정</a>
    </div>
  </section>
</th:block>
</html>
