<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
  <link th:href="@{/css/genre.css}" rel="stylesheet">

  <section class="text-white genre">
    <div class="container">
      <main>
        <div class="mb-3">
          <div class="mt-4 mb-1">
            <h3>장르별 웹툰</h3>
          </div>
          <div id="genreButtons" class="d-flex flex-wrap">
            <!-- 자바스크립트로 동적으로 장르 버튼이 추가됩니다 -->
          </div>
        </div>
        <!-- 웹툰 목록을 표시할 컨테이너 -->
        <div id="webtoonList" class="row">
          <!-- 웹툰 목록이 여기에 추가됩니다 -->
        </div>
      </main>
    </div>
  </section>


  <script th:src="@{/js/webtoon/genre/genreWebtoonPage.js}"></script>

</th:block>
</html>
