.star-rating .star {
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

.star-rating .star.selected {
  color: gold;
}

.star-rating .star.hover {
  color: gold;
}

.star-rating .star.selected {
  color: gold;
}

.review-text {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #333; /* 텍스트 색상 설정 */
}

/* 별의 기본 스타일 */
.star {
  color: grey; /* 별의 기본 색상은 회색 */
  font-size: 1rem; /* 별의 크기를 조정하고 싶다면 이 값을 변경하세요 */
}

/* 별의 활성화된 상태, 즉 노란색으로 칠해진 상태 */
.star.filled {
  color: gold; /* 활성화된 별의 색상은 금색 */
}

